<h1>Editing post</h1>

<%= render "form", post: @post %>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" >

<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
